.button {
  color: white;
  background-color: blueviolet;

  min-width: 150px;

  padding-top: 12px;
  padding-bottom: 12px;

  font-size: 20px;

  border: none;
  border-radius: 6px;

  outline: none;
}
.button:not(:last-child) {
  margin-right: 25px;
}

.button:hover {
  background-color: red;
  color: white;
  padding: 12px;
}
.button:focus {
  background-color: green;
  color: white;
  padding: 12px;
}
